img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    width:auto;
    height:200px;
}

.row {
    display: flex;
}
  
.column {
    flex: 50%;
    padding: 5px;
}